*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}

button{
    border-radius: 50%;
    padding:2rem;
    width:6rem;
    cursor:pointer;
    border: transparent;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  
}

.app{
    
    
    display: flex;
    flex-direction: column
    ;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    color: aliceblue;
}

span{
    font-size: 7rem;
}
.stopwatch{
    font-size: 3rem;
}

/* start button */
.start{
    color: rgba(26, 94, 26, 0.926) !important;
    background-color: rgb(3, 35, 3);
   

}

.stop{
    color: rgba(245, 192, 192, 0.926) !important;
    background-color: rgb(66, 13, 13);
}
.reset{
    color:rgb(55, 107, 250);
    background-color:rgb(30, 18, 68);
}
.lap{
    color:rgb(40, 39, 39);
    background-color:rgb(184, 180, 180);
}
.laps li{
    list-style: none;
    font-size: 1.5rem;
    margin: 0.3rem 0.5rem;
}
.laps li:nth-child(even){
    color: chocolate;
}
@media screen and (max-width:550px) {
    span{
        font-size: 3rem;

    }
    .stopwatch{
        font-size: 0.8rem;
    }
    button{
       width: 4rem;
       padding: 1rem;
    }

    
}